# Ignore arquivos de ambiente virtual
venv/
.venv/

# Ignore arquivos compilados e caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore arquivos de configuração do sistema e IDEs
.env
.env.*

# Ignore arquivos de logs e temporários
vector_stores/
local_models/

# Ignore arquivos de configuração do editor
.vscode/
